@model LMS4Carroll.Models.PhyDisposables

@{ 
    ViewData["Title"] = "Add | Physics Disposable Inventory";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-heading">Create Disposables Inventory Item</div>
    <div class="panel-body">
        <br />
        <form asp-action="Create">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DispoID" class="col-md-2 form-control-label required">Disposable</label>
                    <div class="col-md-10">
                        <select asp-for="DispoID" name="NameInput" class="form-control" asp-items="ViewBag.DispoID" value="@ViewData["DispoName"]"></select>
                        <span asp-validation-for="DispoID" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OrderDate" class="col-md-2 form-control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="OrderDate" name="DateInput" class="form-control" value="@ViewData["OrderDate"]" />
                        <span asp-validation-for="OrderDate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LocationID" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <select asp-for="LocationID" name="StorageInput" class="form-control" asp-items="ViewBag.LocationName" value="@ViewData["StorageCode"]"></select>
                        <span asp-validation-for="LocationID" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CAT" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="CAT" name="Cat" class="form-control" value="@ViewData["CAT"]" />
                        <span asp-validation-for="CAT" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="Cost" name="CostInput" class="form-control" value="@ViewData["Cost"]" />
                        <span asp-validation-for="Cost" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AmtOrdered" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="AmtOrdered" name="AmtInput" class="form-control" />
                        <span asp-validation-for="AmtOrdered" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Supplier" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Supplier" name="SupplierInput" class="form-control" />
                        <span asp-validation-for="Supplier" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Comments" name="CommentsInput" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger" />
                    </div>
                </div>
                <div id="editbtn" class="from-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-danger">
                            <i class="glyphicon glyphicon-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}