@model LMS4Carroll.Models.PhyDisposables

@{
    ViewData["Title"] = "Delete | Physics Disposable Inventory";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Inventory Details</div>
    <div class="panel-body">
        <br />
        <div>
            <h4>Disposables Inventory</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PhyDisposablesID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhyDisposablesID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DispoID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DispoID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ItemName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ItemName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NormalizedLocation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NormalizedLocation)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AmtOrdered)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AmtOrdered)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cost)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cost)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Supplier)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Supplier)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>
            </dl>

            <div id="deletebtn">
                <div class="form-actions no-color">
                    <a asp-action="Index" class="btn btn-default">
                        <i class="glyphicon glyphicon-arrow-left"></i> Back to List
                    </a>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.PhyDisposablesPK">Edit</a><br />
                </div>
            </div>
        </div>
    </div>
</div>
