@model IEnumerable<LMS4Carroll.Models.PhyDisposables>

@{ 
    ViewData["Title"] = "List | Physics Disposables Inventory";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Disposable Inventory</div>
    <div class="panel-body table-responsive">
        <div class="btn-group">
            @if (User.IsInRole("Admin") || User.IsInRole("PhysicsUser"))
            {
                <a id="createRoleModal" asp-action="Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i> Add Inventory
                </a>
            }
        </div>
        <br />
        <form asp-controller="PhyDisposablesController" asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="text" placeholder="Item Name" name="phydisposables2String" value="@ViewData["Search"]" id="SearchString" />
                    <input type="submit" value="Search" class="btn btn-default" />
                    <a class="btn btn-default" asp-action="Index">Back to Full List</a>
                    @*<a class="btn btn-default" asp-action="ExportCSB">Export Table</a>*@
                </p>
            </div>
        </form>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.PhyDisposablesID), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["BarcodeSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.ItemName), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["NameSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Location.StorageCode), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["LocationSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.AmtOrdered), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["AmtSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.CAT), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["CATSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Cost), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["CostSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.OrderDate), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["OrderDateSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Supplier), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["SupplierSort"] })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Comments), "Index", new { phydisposables2String = ViewData["Search"], sortOrder = ViewData["CommentsSort"] })
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhyDisposablesID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-area="" asp-controller="Locations" asp-action="Details" asp-route-id="@item.LocationID">
                                @Html.DisplayFor(modelItem => item.Location.NormalizedStr)
                            </a>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Location.NormalizedStr)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmtOrdered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @if  (User.IsInRole("Admin") || User.IsInRole("PhysicsUser"))
                        {
                            <a id="editbtn" asp-action="Edit" asp-route-id="@item.PhyDisposablesPK" class="btn btn-info loc2">
                                <i class="glyphicon-pencil"></i> Edit
                            </a>
                        }

                        <a id="detailsbtn" asp-action="Details" asp-route-id="@item.PhyDisposablesPK" class="btn btn-info loc2">
                            <i class="glyphicon glyphicon-search"></i> Details
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a id="deletebtn" asp-action="Delete" asp-route-id="@item.PhyDisposablesPK" class="btn btn-danger loc3">
                                <i class="glyphicon glyphicon-trash"></i> Delete
                            </a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>