@model IEnumerable<LMS4Carroll.Models.Formula>

@{
    ViewData["Title"] = "List | Formulas";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Formulas</div>
    <div class="panel-body table-responsive">
        <div class="btn-group">
            @if (User.IsInRole("Admin") || User.IsInRole("ChemUser") || User.IsInRole("BiologyUser"))
            {
                <a id="createRoleModal" asp-action="Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>  Add Formula
                </a>
            }
        </div><br />
        <form asp-controller="Formula" asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" id="SearchString" />
                    <input type="submit" value="Search" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-default">Back to Full List</a>
                </p>
            </div>
        </form>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.FormulaName), "Index", new { searchString = ViewData["CurrentFilter"], sortOrder = ViewData["NameSort"] })
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
           @foreach (var item in Model)
           {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormulaName)
                    </td>
                    <td>
                        @if (User.IsInRole("ChemUser") || User.IsInRole("BioUser") || User.IsInRole("Admin"))
                        {
                        <a id="editbtn" asp-action="Edit" asp-route-id="@item.FormulaID" class="btn btn-info">
                            <i class="glyphicon glyphicon-pencil"></i>  Edit
                        </a>
                        }
                        <a id="logbtn" asp-action="MakeLog" asp-route-id="@item.FormulaID" class="btn btn-info">
                            <i class="glyphicon"></i> Make Log
                        </a>
                        

                        <a id="detailsbtn" asp-action="Details" asp-route-id="@item.FormulaID" class="btn btn-info">
                            <i class="glyphicon glyphicon-search"></i>  Details
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                        <a id="deletebtn" asp-action="Delete" asp-route-id="@item.FormulaID" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>  Delete
                        </a>
                        }
                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
